@import url("https://use.typekit.net/wgt3qdl.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 5;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "lft-etica", -apple-system, "Helvetica Neue", sans-serif;
  background: #fff;
  font-size: 16px;
}

nav,
main {
  min-height: 100vh;
  padding: 40px;
}

footer {
  padding: 40px;
}

nav {
  width: 250px;
  border-right: 1px solid #eee;
  position: fixed;
}

main,
footer {
  margin-left: calc(250px + 10%);
}

#checkbox {
  display: none;
}

@media screen and (max-width: 650px) {
  body {
    flex-wrap: wrap;
  }
  body #checkbox:checked ~ #menu {
    left: 0;
  }
  body #checkbox:checked ~ #burger span:first-child {
    transform: translateY(11px) rotate(45deg);
  }
  body #checkbox:checked ~ #burger span:last-child {
    transform: translateY(-11px) rotate(-45deg);
  }
  body #checkbox:checked ~ #burger span:nth-child(2) {
    width: 0px;
  }
  body #burger {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 32px;
    width: 32px;
    display: grid;
    grid-template-rows: 4px 4px 4px;
    align-content: space-around;
    cursor: pointer;
    z-index: 2;
  }
  body #burger span {
    background-color: #1a040c;
    transition: 0.3s;
  }
  body #menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: #e4e4e4;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  body #menu a {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 16px;
  }

  nav,
main,
footer {
    min-height: auto;
    width: 100%;
    margin: 0;
  }

  nav {
    position: static;
  }
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 0.6em;
}
nav ul a {
  color: black;
  text-decoration: none;
}
nav ul ul {
  padding-left: 25px;
}

header,
article {
  max-width: 750px;
  line-height: 1.5em;
  margin-bottom: 80px;
}

h1::before,
article::before,
section::before {
  content: "";
  display: block;
  height: 15px;
}

#skahr-logo {
  width: 120px;
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.ikonflex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ikonflex img {
  max-height: 50px;
  align-self: center;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}
ul a {
  color: black;
  text-decoration: none;
}
ul ul {
  padding-left: 25px;
  padding-bottom: 20px;
}

#inknut {
  font-family: "Inknut Antiqua", serif;
  font-size: 20px;
}
#inknut .f300inknut {
  font-weight: 300;
}
#inknut .f400inknut {
  font-weight: 400;
}
#inknut .f500inknut {
  font-weight: 500;
}
#inknut .f600inknut {
  font-weight: 600;
}
#inknut .f700inknut {
  font-weight: 700;
}
#inknut .f800inknut {
  font-weight: 800;
}
#inknut .f900inknut {
  font-weight: 900;
}

#montserrat {
  font-family: "montserrat";
  font-size: 20px;
}
#montserrat .font300 {
  font-weight: 300;
}
#montserrat .font300i {
  font-weight: 300;
  font-style: italic;
}
#montserrat .font400 {
  font-weight: 400;
  font-style: italic;
}
#montserrat .font400i {
  font-weight: 400;
  font-style: italic;
}
#montserrat .font500 {
  font-weight: 500;
}
#montserrat .font500i {
  font-weight: 500;
  font-style: italic;
}
#montserrat .font600 {
  font-weight: 600;
}
#montserrat .font600i {
  font-weight: 600;
  font-style: italic;
}
#montserrat .font700 {
  font-weight: 700;
}
#montserrat .font700i {
  font-weight: 700;
  font-style: italic;
}
#montserrat .font800 {
  font-weight: 800;
}
#montserrat .font800i {
  font-weight: 800;
  font-style: italic;
}

#lft-etica {
  font-family: lft-etica, sans-serif;
  font-size: 20px;
}
#lft-etica .font300 {
  font-weight: 300;
}
#lft-etica .font300i {
  font-weight: 300;
  font-style: italic;
}
#lft-etica .font400 {
  font-weight: 400;
}
#lft-etica .font400i {
  font-weight: 400;
  font-style: italic;
}
#lft-etica .font500 {
  font-weight: 500;
}
#lft-etica .font500i {
  font-weight: 500;
  font-style: italic;
}
#lft-etica .font600 {
  font-weight: 600;
}
#lft-etica .font600i {
  font-weight: 600;
  font-style: italic;
}
#lft-etica .font700 {
  font-weight: 700;
}
#lft-etica .font700i {
  font-weight: 700;
  font-style: italic;
}

.bildestr {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
.bildestr .hoy {
  align-self: center;
  margin-top: 40px;
}
.bildestr .lav {
  align-self: center;
  margin-top: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  flex-wrap: wrap;
}
footer h4 {
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
