@import url("https://use.typekit.net/wgt3qdl.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,400,500,600,700,800,900&display=swap');

//Styleguide variables
$default-body-text: 16px;
$defauult-font: "lft-etica", -apple-system, "Helvetica Neue", sans-serif;
$default-list-padding: 25px;
$section-top-margin: 15px;

//CSS
* {
  box-sizing: border-box;
}

html,
body {
  margin: 5;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $defauult-font;
  background: #fff;
  font-size: $default-body-text;
}

nav,
main {
  min-height: 100vh;
  padding: 40px;
}
footer {
  padding: 40px;
}

nav {
  width: 250px;
  border-right: 1px solid #eee;
  position: fixed;
}

main, 
footer {
  margin-left: calc(250px + 10%);
}


@media screen and (max-width: 650px) {
  html,
  body {
  scroll-behavior: auto;
}
  .menu {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 32px;
    width: 32px;
    display: grid;
    grid-template-rows: 4px 4px 4px;
    align-content: space-around;
    cursor: pointer;
    z-index: 2;
      span{
        background-color: rgb(26, 4, 12);
        transition: 0.3s;
      }
  }
  
  .menu.visible {
    right: 20px;
    height: 32px;
    border-radius: 0;
    transition: 1s;
        span {
          &:first-child{
              transform: translateY(11px) rotate(45deg);
          }
          &:last-child{
             transform: translateY(-11px) rotate(-45deg);
         }
         &:nth-child(2){
             width: 0px;
         }
      }
  }


  #sideNav {
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    transition: 1s;
  }
  
  #sideNav.visible {
    left: 0;
  }
  
  #sideNav a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 5px;
    transition: 1s;
  
  }
  
  #sideNav a:hover {
    color:  rgba(116, 116, 116, 0.466);
  }

  nav,
  main,
  footer {
    min-height: auto;
    width: 100%;
    margin: 0;
  }

  nav {
    position: static;
  }
}

nav ul {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 0.6em;
    }
        a {
            color: black;
            text-decoration: none;
        }
    ul {
        padding-left: $default-list-padding
    }
  }
  


header,
article {
  max-width: 750px;
  line-height: 1.5em;
  margin-bottom: 80px;
}

// artcile::before is a pseudocalss, content unserts a small element insaide the parent article
h1::before,
article::before,
section::before {
  content: "";
  display: block;
  height: $section-top-margin;
}


#skahr-logo {
  width: 120px;
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.ikonflex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    max-height: 50px;
    align-self: center;
    margin-top: 30px;
  }
}

ul {
  list-style: none;
  padding: 0;

      a {
          color: black;
          text-decoration: none;
      }
  ul {
      padding-left: $default-list-padding;
      padding-bottom: 20px;
  }
}

#inknut {
  font-family:'Inknut Antiqua', serif;
  font-size: 20px;
  
  .f300inknut {
    font-weight: 300;
  }
  .f400inknut {
    font-weight: 400;
  }
  .f500inknut {
    font-weight: 500;
  }
  .f600inknut {
    font-weight: 600;
  }
  .f700inknut{
    font-weight: 700;
  }
  .f800inknut{
    font-weight: 800;
  }
  .f900inknut {
    font-weight: 900;
  }
}

#montserrat {
  font-family: 'montserrat';
  font-size: 20px;
  .font300 {
    font-weight: 300;
  }
  .font300i {
    font-weight: 300;
    font-style: italic;
  }
  .font400 {
    font-weight: 400;
    font-style: italic;
  }

  .font400i {
    font-weight: 400;
    font-style: italic;
  }
  .font500 {
    font-weight: 500;
  }
  .font500i {
    font-weight: 500;
    font-style: italic;
  }
  .font600 {
    font-weight: 600;
  }
  .font600i {
    font-weight: 600;
    font-style: italic;
  }
  .font700 {
    font-weight: 700;
  }
  .font700i {
    font-weight: 700;
    font-style: italic;
  }
  .font800{
    font-weight: 800; 
}
  .font800i{
  font-weight: 800; 
  font-style: italic;
}
}


#lft-etica {
  font-family:  lft-etica, sans-serif;
  font-size: 20px;
  .font300 {
    font-weight: 300;
  }
  .font300i{
    font-weight: 300;
    font-style: italic;
  }
  .font400{
    font-weight: 400;
  }
  .font400i{
    font-weight: 400;
    font-style: italic;
  }
  .font500{
    font-weight: 500;
  }
  .font500i {
    font-weight: 500;
    font-style: italic;
  }
  .font600 {
    font-weight: 600;
  }
  .font600i {
    font-weight: 600;
    font-style: italic;
  }
  .font700 {
    font-weight: 700;
  }
  .font700i {
    font-weight: 700;
    font-style: italic;
  }
}

.bildestr {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  flex-wrap: wrap;
  padding-bottom: 90px;
  .hoy {
    align-self: center;
    margin-top: 40px;
  }
  .lav {
    align-self: center;
    margin-top: 40px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
  flex-wrap: wrap;
  h4 {
    font-weight: 600;
  }
}




